header {
    padding: 20px;
    text-align: center;
  }
#father1 img{
    width: 350px;
height: 115px;
}
#father img{
    width: 700px;
    height: 500px;
}
h4 {
color: darkblue;
}

main{
    padding-left: 350px;
    padding-right: 350px;
    text-align: left;
}

footer {
    padding-left: 350px;
    padding-right: 350px;
}

